@keyframes carousel-slide {
    0%   { transform: translateX(100%); }
    10%  { transform: translateX(0); }
    30%  { transform: translateX(0); }
    40%  { transform: translateX(-100%); }
    100% { transform: translateX(-100%); }
}

.animate-carousel-slide {
    animation: carousel-slide 12s infinite;
}